
<div bgcolor="#4B5861">

    <div style="display:block;width:100%;background-color:#4b5861">
        <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="vertical-align:top;padding:10px" align="center" valign="top">
                        <table style="width:100%;text-align:left" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                       

                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td style="background-color:#f0f0f0;color:#45555f;font-family:Tahoma,Helvetica;font-size:12px;vertical-align:top;padding:20px">
                                                        <div>
                                                            <p>You Have A New Query </p><br/>
                                                            <pre style="color: green;">Sender's Account details</pre>
                                                            <p>Username:  <?php echo $userName; ?></p><br/>
                                                            <p>Email:  <?php echo $emailId; ?></p><br/>
                                                            <p>Property Name: <?php echo $propertyName; ?> </p><br/>
                                                            <!--<a href="<?php //echo $ms; ?>" class="btn blue btn-xs">Click here to see the message..</a><br/>
																-->


                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="background-color:#f0f0f0;color:#45555f;font-family:Tahoma,Helvetica;font-size:12px;line-height:18px;vertical-align:top;padding:20px">
                                                       <!-- <div>
                                                            <p style="text-align:center"><strong><a href="http://link.parse.com/v0mO0v3q0ZmQYzs0F12U000" target="_blank"><img title="twitter bird in white on blue background" src="https://ci4.googleusercontent.com/proxy/sqEDU5OlyWMiDHhFBuBnn4pkfMoVeFWyxw6MqGuwWpy8phPGiP5FC2VkPCxf7vDT7wLHelTBoGuIj2fG3lrX9zQZGKQCKViKxBxdgl3enb8CsBSV3UJRjw=s0-d-e1-ft#http://go.parse.com/rs/parse/images/twitter-bird-white-on-blue.png" alt="" width="25" height="25" class="CToWUd"></a>&nbsp;<a href="http://link.parse.com/Q00Q0OF0Yg2mU0v0Z00fmz1" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/C4AHzKH08pnZlIs6vCERreiLMAto7IOxIZKD5O2qYnPL9627ekkGrdFVjhY7xdsZeSoACP_H7zO4DufPskyxnNsXSXn8nQw_EqZXQg=s0-d-e1-ft#http://go.parse.com/rs/parse/images/f_logo+%281%29.png" alt="" height="25" class="CToWUd"></a> <a href="http://link.parse.com/z0UO2Zm100mFvh00Yzg0Q00" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/j-mj64ixdb9XAi6OeanfEmX9lS7SwHBPTCLCNdisY-G_jxfLekAHxEidQN8XTeHnndhZf-dX6WuKPeA_CWZspjYdY9Bw2Y4=s0-d-e1-ft#http://go.parse.com/rs/parse/images/linkedin.jpeg" alt="" height="25" class="CToWUd"></a></strong></p>
                                                        </div> -->
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
