<p>Username: <?php echo $username; ?></p><br/>
<p>Click on the link below to Reset Your Password </p><br/>

<a href="<?php echo $ms; ?>">Click here to Reset Your Password</a><br/>

<pre>or Visit this Link</pre><br/>

<p><a href="<?php echo $ms; ?>"><?php echo $ms; ?></a></p>
