<div class="couponCodes index">
	<h2><?php echo __('Coupon Codes'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('code'); ?></th>
			<th><?php echo $this->Paginator->sort('coupon_package_id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($couponCodes as $couponCode): ?>
	<tr>
		<td><?php echo h($couponCode['CouponCode']['id']); ?>&nbsp;</td>
		<td><?php echo h($couponCode['CouponCode']['code']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($couponCode['CouponPackage']['name'], array('controller' => 'coupon_packages', 'action' => 'view', $couponCode['CouponPackage']['id'])); ?>
		</td>
		<td><?php echo h($couponCode['CouponCode']['created']); ?>&nbsp;</td>
		<td><?php echo h($couponCode['CouponCode']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $couponCode['CouponCode']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $couponCode['CouponCode']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $couponCode['CouponCode']['id']), array(), __('Are you sure you want to delete # %s?', $couponCode['CouponCode']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Coupon Code'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Coupon Packages'), array('controller' => 'coupon_packages', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Coupon Package'), array('controller' => 'coupon_packages', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Coupon Code Users'), array('controller' => 'coupon_code_users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Coupon Code User'), array('controller' => 'coupon_code_users', 'action' => 'add')); ?> </li>
	</ul>
</div>
